<form class="bs-example form-horizontal form-validation" name="form">
    <div class="modal-body form-horizontal form">
        <div class="form-body portlet light">
            <div class="portlet-title clearfloat" style="padding-bottom:10px;border-bottom:1px solid #ececec;">
                <div class="caption font-green-sharp" style="display:inline-block;float:left;">
                    <i class="fa fa-plus"></i>
                    <span class="caption-subject bold uppercase">配置角色</span>
                </div>
                <div class="tools" style="float:right; cursor:pointer;">
                    <i class="fa fa-close" ng-click="cancel()"></i>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-body" style="padding:15px;">
                    <div class="row">
                        <div class="col-md-12  margin-top-15">
                            <div class="form-group" >
                                <div class="col-sm-12">
                                    <label class="radio-inline i-checks" ng-repeat="r in roles">
                                        <input type="radio" name="role" ng-model="$parent.roleId" ng-value="r.id"  required>
                                        <i></i>
                                        {{r.description}}
                                    </label>
                                </div>
                            </div>
                            <!-- form end -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class=" btn btn-primary " type="submit"  ng-click="submitApply()">确定</button>
        <button class=" btn  btn-warning" type="button" ng-click="cancel()">关闭</button>
    </div>
</form>